<html>
  <head>
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="css\dashboard.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name">GYM MANAGEMENT</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/dashboard">
            <i class='bx bx-box'></i>
            <span class="links_name">TODAYS TASK</span>
          </a>
        </li>
        <li>
          <a href="/description">
            <i class='bx bx-box' ></i>
            <span class="links_name">WORKOUT GUIDE</span>
          </a>
        </li>
        <li>
          <a href="#" class="active">
            <i class='bx bx-box' ></i>
            <span class="links_name">MAKE A CALL</span>
          </a>
        </li>
        <li class="log_out">
            <a href="/login"><i class="bx bx-log-out"></i><button>LogOut</button></a>
         </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-Message'></i>
        <span class="dashboard"></p></span>
      </div>
    </nav>
    <div class="home-content">
        <div class="overview-boxes">
            <h1>CONTACT US</h1>
        </div>
    </div>
    <hr>
    <div class="home-content">
        <div class="overview-boxes">
            <h2>Eligibility to Use</h2><br>
            <p>1.In order to avail the Platform Services (as defined hereinafter) on the Platform, You will have to register on the Platform by providing details about Yourself, including Your name, address, contact details and such other details as may be required on the Platform and create an account (“Account”).<br>
                2.You shall ensure and confirm that the Account information provided by You is complete, accurate and up-to-date. If there is any change in the Account information, You shall promptly update Your Account information on the Platform. If You provide any information that is untrue, inaccurate, not current or incomplete (or becomes untrue, inaccurate, not current or incomplete), or if the Company has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, the Company has the right to suspend or terminate Your Account and refuse any and all current or future use of the Platform (or any portion thereof) at its discretion, in addition to any right that the Company may have against You at law or in equity, for any misrepresentation of information provided by You.<br>
                3.You will be responsible for maintaining the confidentiality of the Account information and are fully responsible for all activities that occur under Your Account. You agree to (a) immediately notify the Company of any unauthorized use of Your Account information or any other breach of security, and (b) ensure that You exit from Your Account at the end of each session. The Company cannot and will not be liable for any loss or damage arising from Your failure to comply with this provision. You may be held liable for losses incurred by the Company or any other user of or visitor to the Platform due to authorized or unauthorized use of Your Account as a result of Your failure in keeping Your Account information secure and confidential.<br>                
                4.Use of another Users Account information for availing the Platform Services is expressly prohibited.</p>
        </div></div>
        <div class="home-content">
            <div class="overview-boxes">
                <h2>Email:gymmanagement@gmail.com</h2>
                <h2>Contact:044-7894561</h2>
            </div></div>
  </section>
</body>
</html>

